<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %cyan(%logger{15}) %C.%M.%L :%msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="feign.Logger" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="feign.Retryer" level="TRACE" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.github.resilience4j" level="TRACE" additivity="true">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>