<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss}:%-4relative] %green([%thread]) %highlight(%-5level) %cyan(%logger{15}) %C.%M.%L :%msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework.security" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.github.openfeign" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="io.github.resilience4j" level="TRACE" additivity="true">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"> <!-- additivity를 false로 설정 -->
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false"> <!-- 이 부분도 수정 -->
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>